[Unit]
Description=MCServer by Derpchees (automatic shutdown when empty)
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/opt/mcpanel/bin/mcpanel-autostop.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
